<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="Test1">

		<groups>
			<run>
				<include name="smoke" />
			</run>
		</groups>
		<classes>
			<class name="com.test.RegistrationPage" />
			<class name="com.test.LoginPage" />
		</classes>
	</test> <!-- Test -->
<!--  
	<test name="Test2">

		<classes>

			<class name="com.test.SampleTest" />

		</classes>
	</test>
-->

</suite> <!-- Suite -->
